/* a lot of use of fixed and absolute positioning, this is what is effecting your responsiveness */
/* header */
header {
  position: fixed;
  width: 100%;
}


.logo {
  position: fixed;
  top: -10px;
  left: -29px;
}

form {
  margin: 3px 63px;
}
/* include the reference for the psudo element */
input::placeholder {
  font-family: Verdana;
  color: #B5B0B0;
}

p.user_name {
  color: gray;
  right: 80px;
  white-space: nowrap;
}

.user_name {
  position: absolute;
  top: 0px;
  right: 2px;
}

/* style */
.bkpicture {
  background-image:url("https://preview.ibb.co/ij6Cky/background.png");
  background-repeat: no-repeat;
  position: relative;
  background-position:50% 50%;
  position: fixed;
  top: 8%;
  width: 100%;
  height: 900px;
  background-size: cover;
}

i {
  color: white;
}

section {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 0.1px solid #d8d8d8;
  background-color: transparent;
  text-align: right;
  color: white;
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  top: 0px;
  right: 10px;
}

.today {
  color: black;
  text-align: right;
}

/*generally declare media queries at the bottom of the document */
@media only screen and (min-width: 768px) {

}
